<% if notice %>
  <div class="columns is-centered">
    <div class="column"></div>
    <% if notice.class == String %>
      <div class="column">
        <div class="notification is-success notice">
            <p><i class='fas fa-circle'></i><%=" "+ notice%></p>
        </div>
      </div>
    <%else %>
        <div class="column">
          <div class="notification is-danger notice">
            <% notice.values.each{|error| %>
              <p><i class='fas fa-circle'></i><%=" " + error[0]%></p>
            <% }%>
          </div>
        </div>

    <% end %>
    <div class="column"></div>
    </div>
<% end %>



<p class="title is-3 has-text-centered">Gestionar Productos</p>

<div class="main-index">
  <div class="block has-text-centered">
    <%=link_to "Agregar productos", "/products/new", class: "button is-rounded is-link" %>
  </div>

<div class="block has-text-centered">
  <div class="filter">
    <%= form_with url: products_by_category_path, method: :get do |form| %>
      <div class="field is-horizontal">
        <div class="checkbox is-medium">
          <%= check_box_tag(:Bebestible, 1, @checkbox[:Bebestible], {onchange: "this.form.submit()"}) %>
          <%= label_tag(:Bebestible, "Bebestible") %>
        </div>
        <div class="checkbox is-medium">
          <%= check_box_tag(:Comestibles, 1, @checkbox[:Comestibles], {onchange: "this.form.submit()"}) %>
          <%= label_tag(:Comestibles, "Comestibles") %>
        </div>
        <div class="checkbox is-medium">
          <%= check_box_tag(:Souvenir, 1, @checkbox[:Souvenir], {onchange: "this.form.submit()"}) %>
          <%= label_tag(:Souvenir, "Souvenir") %>
        </div>
      </div>
    <% end %>
  </div>
</div>


  <div class="product_list">
      <% @products.each do |product|%>
            <div class="product_container">
                <div class="product_title" >
                    <%= product.name %>
                </div>
                <p class="product_data"> Categoría: <%= product.category %></p>
                <p class="product_data"> Precio: <%= product.price %></p>
                <% case product.category
                    when "Bebestible" %>
                  <p class="product_data"> Volumen: <%= product.volume.round %> cc</p>
                <% when "Comestibles" %>
                  <p class="product_data"> Peso: <%= product.weight.round %> g</p>
                <% end %>
                <%=link_to "Editar", product_edit_path(:id => product), class: "button is-link buttoncito" %>
                <%=link_to "Borrar", product_delete_path(:id => product), method: :delete, class: "button is-link buttoncito"%>
            </div>
      <% end %>
  </div>

  <div class="column has-text-centered">
    <%=link_to "Volver", home_path, class: "button is-rounded is-link home_button" %>
  </div>

</div>